@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ui-paragraph {
    font-family: "Lato";
}

.ui-paragraph--lg {
    font-size: 16px;
}

.ui-paragraph--md {
    font-size: 14px;
}

.ui-paragraph--sm {
    font-size: 12px;
}

.ui-paragraph--bold {
    font-weight: bold;
}

.ui-paragraph--regular {
    font-weight: 500;
}

.ui-paragraph--primary {
    color:  #2D4578;
}

.ui-paragraph--text {
    color: #2E2E2E;
}

.ui-paragraph--secondary {
    color: #E88900;
}
