.checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.checkbox-container label {
    color: #465968;
    font-size: 16px;
    line-height: 16px;
    padding-left: 8px;
}

.checkbox-container input[type=checkbox] {
   position: relative;
}

.checkbox-container input[type=checkbox]::before {
    content: "";
    height: 14px;
    width: 14px;
    border: 2px solid orange;
    position: absolute;
    border-radius: 4px;
    top: -2.5px;
    left: -2.5px;
    background: #fff;
}




.checkbox-container input[type=checkbox]:checked::after {
    content: "";
    height: 8px;
    width: 2px;
    border:solid orange;
    border-width: 0px 2px 2px 0px;
    position: absolute;
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
}