@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ui-title {
    font-family: "Lato";
}

.ui-title--md {
    font-size: 24px;
}

.ui-title--sm {
    font-size: 20px;
}

.ui-title--bold {
    font-weight: bold;
}

.ui-title--regular {
    font-weight: 500;
}

.ui-title--primary {
    color:  #2D4578;
}

.ui-title--text {
    color: #2E2E2E;
}

.ui-title--secondary {
    color: #E88900;
}

@media (min-width: 1px) and (max-width: 767.9px) {
    .ui-title--lg {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1199.9px) {
    .ui-title--lg {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .ui-title--lg {
        font-size: 32px;
    }
}
